<div class="container">
    <div class="row justify-content-center">
        <div class="card text-black bg-white text-center" style="width: 320px">
        <div class="card-header">Login</div>
        <div class="card-body">
            <h5 class="card-title">Login Info</h5>
            <form action="/login" method="POST">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                        </div>
                        <input id="username" type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                        </div>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                        </div>
                        <input id="name" type="text" class="form-control" name="name" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                        </div>
                        <input id="surname" type="text" class="form-control" name="surname" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <a class="btn btn-success">Save</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <%if(typeof username!='undefined'){%>
            <p><%=username%></p>
            <%}%>
            <%if(typeof password!='undefined'){%>
            <h2><%=password%></h2>
            <%}%>
        </div>
        </div>
    </div>
</div>