.layout{
    font-size: xx-large;
    background: rgb(247, 112, 2);
}

.admin{
    font-size: xx-large;
    background: rgb(22, 247, 2);
}

.home{
    font-size: 22px;
    background: rgb(26, 2, 247);
}